In [1]:
i = 4;
if i == 4:
    pass

In [3]:
for a in range(1,5):
    for b in range(1,5):
        print(a,'*',b,'=',a*b)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16

In [7]:
for a in range(1,5):
    for b in range(1,5):
        print(a,'*',b,'=',a*b)
else:
    print('out of for 2')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
out of for 2

In [15]:
for a in range(1,5):
    for b in range(1,5):
        print(a,'*',b,'=',a*b)
    else:
        print('out of for 2')
else:
    print('out of first for, tata')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
out of for 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
out of for 2
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
out of for 2
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
out of for 2
out of first for, tata